.card--style{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #ededff;
    border-radius: 18px;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.completed{
    text-decoration: line-through;
    color: #e2edff;
}
.todo-title{
    font-size: 23px;
    color: #29455B;
    font-family: "Roboto";
}