:root{
  --primary: #e2edff;
  --bg: #120722;
  --text: #fff;
  --border-color: #200648;
  --border-hover: #430c94;
  --btn-color: #b486f8;
  --shadow1: #160122;
  --shadow2: #0c0015;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family:"Roboto" !important ;
}
@font-face {
  font-family: "RobotoBold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format(".ttf");
  font-weight: bold;
 }
 @font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format(".ttf");
 }
.title{
  color: var(--primary);
  font-family: "RobotoBold";
  text-align: center;
}
