body {
  margin: 0;
  padding: 0;
  font-family:"Roboto" !important ;
}
:root{
  --primary: #e2edff;
  --secondary:#7f9bc2;
  --blue:#77d9fa;
  --pink:#fd86ae;
}
@font-face {
  font-family: "RobotoBold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format(".ttf");
  font-weight: bold;
 }
 @font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format(".ttf");
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}
